[Unit]
Description=Run Cosmic Gap Adjuster every 5 minutes
Requires=cosmic-gap-adjuster.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target